# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Virtual environments
venv/
ENV/
anaconda_projects/
.env

# OS specific
.DS_Store
Thumbs.db

# Isolated
GenerateData.py
instructor_answer_key.csv
